<div class="container">
  <div class="row btn-group float-end">
    <%= link_to "See Messages", text_messages_path, class: "btn btn-primary" %>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <h1 class="text-center">Laney's Texting Service<h1>
        <%= render 'form' %>
    </div>
  </div>
</div>
