<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h1>Voila!<h1>
      <h3>Your Message is on it's way.<h3>
      <div class="mt-5"><%= link_to "See Messages", text_messages_path, class: "btn btn-primary" %></div>
    </div>
  </div>
</div>