// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

// Your custom styles here
.form-item {
  padding-top: 30px;
  font-size: 25px;
  text-align: center;
}

.no-messages {
  padding-top: 30px;
  font-size: 20px;
  text-align: center;
}

.text-center table {
  font-size: 15px;
}

.paginate {
  font-size: 15px;
  text-align: center;
}

.edit_text_provider label{
  font-size: 20px;
  text-align: center;
}

.new_text_provider label {
  font-size: 20px;
  text-align: center;
}

.form-check-input {
  font-size: 20px;
  margin-top: 20px;
}

.form-check-input {
  font-size: 20px;
  margin-top: 20px;
}

.provider_table {
  padding-top: 90px;
}

.message_table {
  padding-top: 90px;
}

.btn-group {
  width: 150px !important;
}

.display_errors {
  font-size: 15px !important;
  color: #FF0000;
  margin-bottom: 20px;
  }
